/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amaranth-regular-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.amaranth-bold-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.myFont {
  font-family: 'Guyot Sans Bold Italic';
  src: url('path/to/GuyotSans-BoldItalic.woff2') format('woff2'),
       url('path/to/GuyotSans-BoldItalic.woff') format('woff');
  /* Add additional font formats if necessary */
  font-weight: bold;
  font-style: italic;
}